@{
    ViewBag.Title = "Account Confirmation";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Thanks for registering your account
</p>
<p class="text-danger">
    Please click this link to confirm the email: <a href="@ViewBag.Link">link</a>
</p>
